<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <title>Instagram</title>
</head>
<body>
    <div class="header">
        <img src="#" alt="Logo" srcset="#" class="headerLogo">
        <input type="search" name="headerSearch" id="headerSearch" placeholder="Search">
        <div class="headerBtns">
            <a href="#" id="btn-home">a</a>
            <a href="#" id="btn-inbox">a</a>
            <a href="#" id="btn-explore">a</a>
            <a href="#" id="btn-liked">a</a>
            <button id="btn-user"></button>
        </div>
    </div>

    <div id="maindiv">
        <div class="postscontainer">
            <div class="storiesdiv"></div>
            <div class="post"></div>
        </div>
        <div class="suggestionscontainer"></div>
    </div>
</body>
</html>