<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/maindiv.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/post.css">
    <title>Instagram</title>
</head>
<body>
    
    <div class="header"></div>
    <div id="maindiv">
        <div class="postscontainer">
            <div class="storiesdiv"></div>
        </div>
        <div class="suggestionscontainer"></div> 
    </div>

    <script src="/scripts/addPrimitivefields.js"></script>
    <script src="/scripts/postIteration.js"></script>
</body>
</html>