#maindiv{
    width: 50%;
    margin: 0 20% 0 0%;
    margin-top: 54px;

    display: flex;
}
.postscontainer{
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
.suggestionscontainer{
    position: fixed;
    top: 68px;
    left: 65%;
    width: 300px;
    height: 400px;
    background-color: rgb(139, 139, 139);
}
@media screen and (max-width:1000px) {
    #maindiv{
        min-width: 360px;
        width: 80%;
        max-width: initial;
        margin: 0 5%;
        justify-content: center;
    }
    .suggestionscontainer{
        display: none;
    }
    .postscontainer{
        width: 100%;
        margin: 0 10px;
        margin-top: 54px;
    }
}